@import url('https://fonts.googleapis.com/css?family=Open+Sans|ZCOOL+KuaiLe');

html, body{
    margin:auto;
    text-align: center;
}

/* home.html */

h1, h2, p{
    font-family: 'ZCOOL KuaiLe', cursive;
}

h1{
    font-size: 500%;
}

.intro{
    background-image: url(https://images.unsplash.com/photo-1467810563316-b5476525c0f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    padding-top:5%;
    padding-bottom: 8%;
}

.intro-text{
    width:80%;
    border-color: white;
    border-style: solid;
    border-radius: 20px;
    margin: auto;
    padding-right:5%;
    padding-left:5%;
    padding-bottom: 3%;
}

a{
    text-decoration: none;
    color:white;
}

button{
    width:100%;
    font-family: 'Open Sans', sans-serif;
    margin-top: 2%;
    padding:1%;
    background-color:#352256;
    border-style: none;
    opacity:0.8;
    color:white;
}

.login{
    font-size: 20px;
}

.register{
    width:50%;
    background-color: #391f51;
    border-radius: 5px;
}

/*register.html*/

/*login.html*/
.navbar{
    text-align: left;
    margin-left: 2%;
    padding-top: 2%;
    padding:1%;
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 40px;
}

.inner-login{
    width:28%;
    margin:auto;
    margin-top:1%;
    padding:2%;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 110%;;
    padding-bottom: 10%;
    color:black;
    border-radius: 15px;
    opacity:0.9;
}

#username, #password, #displayName{
    background-color: inherit;
    border-style: none;
    border-bottom-style: solid;
    border-width: thin;
    margin: 2%;
    color:black;
    width:50%;
}

/*regiter.html*/
.signup-header{
    background-color: white;
    width:80%;
    margin:auto;
    border-radius: 20px;
    padding-top: 1%;
    opacity:0.85;
    padding: 2%;
}
.signup-header p{
    font-family: 'Open Sans', sans-serif;
}

.signup-h1{
    color:white;
    font-size: 250%;
}

fieldset{
    border-radius: 5px;
    width:80%;
    margin:auto;
    margin-top:2%;
    margin-bottom: 2%;
    font-family: 'Open Sans', sans-serif;
}

legend{
    font-family: 'ZCOOL KuaiLe', cursive;
}

#loc, #submitbutton{
    width:30%;
    font-family: 'Open Sans', sans-serif;
    padding:1%;
    background-color:#352256;
    border-style: none;
    color:white;
    border-radius: 5px;
    margin-bottom: 2%;
}

/*user.html*/
.top-user{
    text-align: left;
    margin-left:3%;
    font-family: 'ZCOOL KuaiLe', cursive;
}

.user-header{
    background-image:url(https://cdn.hipwallpaper.com/i/68/5/JM13Vt.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 8%;
}

/*welcome.html*/
.user-welcome{
    text-align: left;
    margin-left: 2%;
}

@media screen only and (min-width: 769px) {
    html, body {
        display:flex;
    }
}