.main-page {
    background: white;
    width: 1012px;
    height: 1012px;
    margin: 0 auto;
    margin-top: 4rem;
}

.title {
    padding: 2rem;
    height: 212px;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 100;
    background: #22b8cf;
    color: white;
}

.input{
    padding: 1rem;
    border-bottom: 1px solid #212529;
}

.input2 {
    min-height: 5rem;
}